<a href="https://colab.research.google.com/github/sivavarun309/learnings/blob/main/Python_Learnings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Enironments
#-Environments help to manage different spaces for different projects
#-If we are working in different project which requires different dependencies or different python version (Liberaries are more stable with the specific version of python)

In [ ]:
"""
Creating the Environments

conda create -p <name> python==3.12   #-p is to create a environment in the same directory and we can specify the version of python we want to install
conda create -n <name> python==3.12   #-n is to create a environment in the main conda directory

It is always recommended to create a environment in the working directory
<name>  is to meniton the environment name

Activating the Environment
-After creating the environment we have to activate it, so that we can install the required packages only for that environment

conda activate <name>/     #<name> is the name of the environment and "/" indicate the inside of the environment folder where the packages need to be installed
"""

'''
Installing packages

pip install <package name>
pip install -r <requirement.txt>

Running code

-Running code of the environment in the notebook requires to select the kernal which will be the environemnt
-Also for running the notebook code in environment we need the ipykernal, to install that

pip install ipykernal
'''

In [ ]:
print("Hello world")

Hello world

In [ ]:
print("""Multi Line print statement
      Line 1 .....
      Line 2......""")

Multi Line print statement
      Line 1 .....
      Line 2......

In [ ]:
#Variables
greet = "Hello"
number = 12
height = 5.1
isChecked = True

In [ ]:
#Type Check or getting the type
print(type(greet))
print(type(number))
print(type(height))
print(type(isChecked))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
#Type conversion or type casting
print(int(height))  # converting the float height to integer height
print(str(height))  # converting the float to string

#Incompatible conversions
# Char string  -> Integer
# Float String -> Integer

5
5.1

In [ ]:
string = "Hello"
integer = 12
Float = 5.1
Boolean = True

In [ ]:
# String Methods
for i in dir(string):
  if not i.startswith("__"):
    print(i)

capitalize
casefold
center
count
encode
endswith
expandtabs
find
format
format_map
index
isalnum
isalpha
isascii
isdecimal
isdigit
isidentifier
islower
isnumeric
isprintable
isspace
istitle
isupper
join
ljust
lower
lstrip
maketrans
partition
removeprefix
removesuffix
replace
rfind
rindex
rjust
rpartition
rsplit
rstrip
split
splitlines
startswith
strip
swapcase
title
translate
upper
zfill

In [ ]:
# Integer Methods
for i in dir(integer):
  if not i.startswith("__"):
    print(i)

as_integer_ratio
bit_count
bit_length
conjugate
denominator
from_bytes
imag
numerator
real
to_bytes

In [ ]:
# Float Methods
for i in dir(Float):
  if not i.startswith("__"):
    print(i)

as_integer_ratio
conjugate
fromhex
hex
imag
is_integer
real

In [ ]:
# Boolean Methods
for i in dir(Boolean):
  if not i.startswith("__"):
    print(i)

as_integer_ratio
bit_count
bit_length
conjugate
denominator
from_bytes
imag
numerator
real
to_bytes

In [ ]:
#Input function
var = input("Enter the Value: ")
print(var)

Enter the Value: test
test

In [ ]:
#Operators
#- the caracter or symbol which takes input and gives the otput through some operations

In [ ]:
# #Arithemetic Operators
# +   Addition
# -   Subtraction
# *   Multiplication
# /   Division
# %   Modulus(Gives Reminder of the division)
# **  Exponential(Power)
# //  Floor Division(Gives Qotient)
# # Assignment Operators
# =    x=5
# +=   x=x+5
# -=   x=x-5
# *=   x=x*5
# /=   x=x/5
# **=  x=x**5
# %=   x=x%5
# //=  x=x//5
# &=   x=x&5
# |=   x=x|5
# ^=   x=x^5
# <<=  x=x<<5
# >>=  x=x>>5
# :=   print(x:=5)  (i.e., x=5
#                          print(x))
# #Comparison Operators
# ==    Equal
# !=    Not Equal
# >     Greater than
# <     Lower than
# >=    Greater than or equal to
# <=    lower than or equal to
# #Logical Operators
# and   Returns True if both statements are true	              #x < 5 and  x < 10
# or    Returns True if one of the statements is true	          #x < 5 or x < 4
# not   Reverse the result, returns False if the result is true	#not(x < 5 and x < 10)
# #Identity Operators
# is      Returns True if both variables are the same object	    #x is y
# is not  Returns True if both variables are not the same object	#x is not y
# #Membership Operators
# in      Returns True if a sequence with the specified value is present in the object	    #x in y
# not in  Returns True if a sequence with the specified value is not present in the object	#x not in y
# #Bitwise Operators
# &   AND ->  10&5 -> 1010 & 0101 = 0000 -> 0(Decimal)
# |   OR  ->  10|5 -> 1010 | 0101 = 1111 -> 15(Decimal)
# ^   XOR ->  10^7 -> 1010 ^ 0111 = 1101 -> 13(Decimal)
# ~   1's Complement -> ~1010 = -(1010+1) = -1011 -> -11(Decimal)
# <<  Left Shift -> 10<<2 -> 1010<<2 -> 101000 = 40(Decimal)
# >>  Right Shift -> 10>>2 -> 1010>>2 -> 10    = 2(Decimal)

In [ ]:
print(10&5)
print(10|5)
print(10^7)
print(~10)
print(10<<2)
print(10>>2)

0
15
13
-11
40
2

In [ ]:
# List -> ls = [1,2,3]
# List items are ordered, changeable, and allow duplicate values.
# Ordered -> it means that the items have a defined order, and that order will not change.it doesn't mean about ascending or descending order
# changeable -> it means that we can change, add, and remove items in a list after it has been created.
# allow duplicate values -> Since lists are indexed, lists can have items with the same value

In [ ]:
ls = [1,2,3]
print(type(ls))
for i in dir(ls):
  if not i.startswith("__"):
    print(i)

<class 'list'>
append
clear
copy
count
extend
index
insert
pop
remove
reverse
sort

In [ ]:
# Tuple -> tup = (1,2,3)
# A tuple is a collection which is ordered and unchangeable and allow duplicate values.
# unchangeable -> it means that we cannot change, add or remove items after the tuple has been created.

In [ ]:
tup = (1,2,3)
print(type(tup))
for i in dir(tup):
  if not i.startswith("__"):
    print(i)

<class 'tuple'>
count
index

In [ ]:
# Set -> set = {1,2,3}
# A set is a collection which is unordered, unchangeable*, Duplicates Not Allowed and unindexed.
# Unordered -> the items in a set do not have a defined order. Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
# Unchangeable -> we cannot change the items after the set has been created.but you can add or remove the items
# Unindexed -> we cannot access items in a set by referring to an index. Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
# Duplicates Not Allowed -> Sets cannot have two items with the same value.

In [ ]:
se = {1,2,3}
print(type(se))
for i in dir(se):
  if not i.startswith("__"):
    print(i)

<class 'set'>
add
clear
copy
difference
difference_update
discard
intersection
intersection_update
isdisjoint
issubset
issuperset
pop
remove
symmetric_difference
symmetric_difference_update
union
update

In [ ]:
# Dictionary -> dictionary = {"key":"value"}
# Dictionaries are used to store data values in key:value pairs.
# A dictionary is a collection which is ordered*, changeable and do not allow duplicates.
# As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.
# Duplicates Not Allowed -> Dictionaries cannot have two items with the same key:

In [ ]:
dictionary = {"key":"value"}
print(type(dictionary))
for i in dir(dictionary):
  if not i.startswith("__"):
    print(i)

<class 'dict'>
clear
copy
fromkeys
get
items
keys
pop
popitem
setdefault
update
values

In [ ]:
# IF Statement(Conditional Statement)
# IF is an conditional statement which makes use of the conditional Operators
# keywords : if, elif, else

In [ ]:
a,b = 33,200
if b > a:
  print("b is greater than a")
elif b == a:
  print("b is equal to a")
else:
  print("b is less than a")

b is greater than a

In [ ]:
#Nested IF
a = 50
if a > 10:
  print("Above ten,")
  if a > 20:
    print("and also above 20!")
    if a > 30:
      print("and also above 30!")
    else:
      print("Is Between 20 and 30.")
  else:
    print("but not above 20.")

Above ten,
and also above 20!
and also above 30!

In [ ]:
#Short Hand IF
a,b = 33,200
print("a is greater than b") if a > b else print("b is less than or equal to a")

b is greater than a

In [ ]:
a,b = 33,200
if a > b: print("a is greater than b")  #Will work on IDE or .py Files

In [ ]:
# Pass Statement
# Some of the python concets like IF, For, functions through error if it has no content or we leave it empty
# pass statement is used to avoid getting error if it has no content

In [ ]:
a,b = 33,200
if b > a:
  pass

In [ ]:
# Match Statement
# The match statement is used to perform different actions based on different conditions.

In [ ]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")
  case _:
    print("Invalid Day")

Thursday

In [ ]:
#Combine Values of Case
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

Today is a weekday

In [ ]:
#If statement in case of extra conditions
month = 5
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5 if month == 4:
    print("A weekday in April")
  case 1 | 2 | 3 | 4 | 5 if month == 5:
    print("A weekday in May")
  case _:
    print("No match")

A weekday in May

In [ ]:
# Python Loops
# Python has two primitive loop commands:
# while loops
# for loops

In [ ]:
# The while Loop
# With the while loop we can execute a set of statements as long as a condition is true.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
#Break
#with break statement we can stop the loop even if the while condition is true
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [ ]:
#Continue
#with Continue we can stop the current iteration and continue with next iteration
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [ ]:
#else with while
#With the else statement we can run a block of code once when the condition no longer is true:
#executes only if the loop terminates naturally (i.e., the condition becomes false) and not because of a break statement.

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3

In [ ]:
i = 1
while i < 6:
  print(i)
  if i==3:
    break
  i += 1
else:
  print("i is no longer less than 6")

1
2
3

In [ ]:
# For Loops
# A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
# This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.
# With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.
#
# Break, Countinue, Else with For will work as same as it with while loop

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
#Nested For loop
#For loop inside the for loop
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
# range() Function -> class range(start, stop, step=1)
# range is often used in for loop to loop through a set of code a specified number of times
# The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# Print Statement extras
# print(*objects, sep=' ', end='\n', file=None, flush=False)
# Parameter	Description
# object(s)	      Any object, and as many as you like. Will be converted to string before printed
# sep='separator'	Optional. Specify how to separate the objects, if there is more than one. Default is ' '
# end='end'	      Optional. Specify what to print at the end. Default is '\n' (line feed)
# file	            Optional. An object with a write method. Default is sys.stdout
# flush	          Optional. A Boolean, specifying if the output is flushed (True) or buffered (False). Default is False

In [ ]:
# List comprehension
# offers a shorter syntax when you want to create a new list based on the values of an existing list or with some pattern using for loop
# Normally, you will have to write a for statement with a conditional test inside.
# With list comprehension you can do all that with only one line of code:

In [ ]:
newList = [i**2 for i in range(5)]
print(newList)

[0, 1, 4, 9, 16]

In [ ]:
# Using Only IF statement in the list comperhension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [30]:
numbers = [1, 5, 10, 15, 20]

# Label values based on range
labels = ["small" if x < 10 else ("medium" if x < 20 else "large") for x in numbers]
print(labels)

['small', 'small', 'medium', 'medium', 'large']

In [ ]:
# When using else in the list comperhension the for statement comes in the end
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if "a" in x else "NA" for x in fruits]
print(newlist)

['apple', 'banana', 'NA', 'NA', 'mango']

In [ ]:
# nested List
# How to initialize the nested list
MyListProper = [[] for i in range(5)]
print(MyListProper)
MyListProper[2].append(5)
print(MyListProper)

[[], [], [], [], []]
[[], [], [5], [], []]

In [29]:
#       0    1    2    3    4    5    6    7
lst = ["A", "B", "C", "D", "E", "F", "G", "H"]
#      -8   -7   -6   -5   -4   -3   -2   -1

print("lst[0:4]   ", lst[0:4])      # from 0 to 3 excluding 4
print("lst[4:4]   ", lst[4:4])      # from 4 but excluding 4, hence empty
print("lst[6:3]   ", lst[6:3])      # can't trim from backwards, hence empty
print("lst[-5:-1] ", lst[-5:-1])    # the last element of list is indexed a -1 decreases by going left, indexes -> -6,-5,-4,-3,-2,-1
print("lst[-1:-5] ", lst[-1:-5])    # Even using the negetive index sublist can't be trimed from -5 to -1 which is backwards
print("lst[2:-2]  ", lst[2:-2])     # Positive index and negative index can be used at the same time for triming as long as its not goes by backwards
print("lst[-7:6]  ", lst[-7:6])
print("lst[0:]    ", lst[0:])       # if no index is mentioned then the sublist will take till the end if end is not mentioned or starts from 0 if start index is not mentioned
print("lst[:4]    ", lst[:4])
print("lst[:4:-1] ", lst[:4:-1])    # the 3rd value indicate the steps for slicing list, -1 will make the list reverse
print("lst[::2]   ", lst[::2])

lst[0:4]    ['A', 'B', 'C', 'D']
lst[4:4]    []
lst[6:3]    []
lst[-5:-1]  ['D', 'E', 'F', 'G']
lst[-1:-5]  []
lst[2:-2]   ['C', 'D', 'E', 'F']
lst[-7:6]   ['B', 'C', 'D', 'E', 'F']
lst[0:]     ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
lst[:4]     ['A', 'B', 'C', 'D']
lst[:4:-1]  ['H', 'G', 'F']
lst[::2]    ['A', 'C', 'E', 'G']

In [ ]:
# How Not to initialize the nested list
MyListWrong = [[]]*5
print(MyListWrong)
MyListWrong[2].append(5)
print(MyListWrong)
# Initializing a nested list in this manner has the disadvantage that each entry in the list has the same ID, pointing to the same list object.

[[], [], [], [], []]
[[5], [5], [5], [5], [5]]

In [ ]:
# The Proper List has the different object id which doesn't affect other while performing operation like appending etc.
print("Object ID of MyListProper")
for i in MyListProper:
  print(id(i))

print("\n--------------\n")

# The improper List which has same object id for the list will effect other sublist will performing operation, as all the sublist are generally the instance of single object
print("Object ID of MyListWrong")
for i in MyListWrong:
  print(id(i))

Object ID of MyListProper
133533287505024
133534130371648
133533287648448
133533722612224
133533720911488

--------------

Object ID of MyListWrong
133533285992320
133533285992320
133533285992320
133533285992320
133533285992320

In [ ]:
# Functions
# Are used to attain the reusablitiy of the code
# function are a block of code that runs wherever we call that function and perform the operation that we have defiened

In [ ]:
# Creating the function
def my_function(fname, lname, place = "India"):  # function will be stored in the memory and will not be excecuted until it is called. Hence the error shows only when it is called.
  print(fname + " " + lname + " " + place)

# Note:
# while creating the function parameter is not neccessary
# whether the parameter is optional or manadatory is decided while creating the function. if value is not assigned while creating the parameter than it is mandatory

In [ ]:
# Calling function
my_function("Emil", "Refsnes")  # Function runs when we call them, the parameters must be passed if mentioned while creating the function

Emil Refsnes India

In [ ]:
# Keyword Arguments
# You can also send arguments with the key = value syntax.
# This way the order of the arguments does not matter.

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [ ]:
# Arbitrary Arguments, (*args)
# If you do not know how many arguments that will be passed into your function, add a "*" before the parameter name in the function definition.
# This way the function will receive a tuple of arguments, and can access the items accordingly

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[-1])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [ ]:
# Arbitrary Keyword Arguments, (**kwargs)
# If you do not know how many keyword arguments that will be passed into your function, add two asterisk: "**" before the parameter name in the function definition.
# This way the function will receive a dictionary of arguments, and can access the items accordingly:

In [ ]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [ ]:
# Return Values
# To let a function return a value, use the return statement:

def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [ ]:
# Using Pass statement

def myfunction():
  pass

myfunction()

In [ ]:
# Positional-Only Arguments
# You can specify that a function can have ONLY positional arguments, or ONLY keyword arguments.
# To specify that a function can have only positional arguments, add , / after the arguments:

def my_function(x, /):
  print(x)

my_function(3)
#my_function(x=3)   # function called with keyword argument through error

3

In [ ]:
# Keyword-Only Arguments
# To specify that a function can have only keyword arguments, add *, before the arguments:

def my_function(*, x):
  print(x)

my_function(x = 3)
#my_function(3)   # function called as positional argument through error

3

In [ ]:
# Combine Positional-Only and Keyword-Only
# You can combine the two argument types in the same function.
# Any argument before the / , are positional-only, and any argument after the *, are keyword-only.

def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

In [ ]:
# Recursion
# Python also accepts function recursion, which means a defined function can call itself.
# It means that a function calls itself. This has the benefit of meaning that you can loop through data to reach a result.
# this is used where solving the problem requires multiple steps and the process required for those steps are nearly(almost) common

In [ ]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21

In [ ]:
# Lambda
# A lambda function is a small anonymous function.
# A lambda function can take any number of arguments, but can only have one expre

In [1]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [2]:
# The power of lambda is better shown when you use them as an anonymous function inside another function.
# use the same function definition to make both functions, in the same program
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

In [ ]:
# Arrays
# python doesn't have the built-in function or class for array
# python array can be obtained by numpy array

# python list
# Dynamic typing
# size flexibility
# Slower Performance compared to numpy
# Less Mathematical Functionality on entire arrays of data.

# numpy array
# Homogeneous Data Types
# Fixed Size
# Optimized Operations
# Better Performance
# Memory Efficiency

In [3]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5])

print(arr)
print(type(arr))  # The array object in NumPy is called ndarray

[1 2 3 4 5]
<class 'numpy.ndarray'>

In [4]:
for i in dir(arr):
  if not i.startswith("__"):
    print(i)

T
all
any
argmax
argmin
argpartition
argsort
astype
base
byteswap
choose
clip
compress
conj
conjugate
copy
ctypes
cumprod
cumsum
data
device
diagonal
dot
dtype
dump
dumps
fill
flags
flat
flatten
getfield
imag
item
itemset
itemsize
mT
max
mean
min
nbytes
ndim
newbyteorder
nonzero
partition
prod
ptp
put
ravel
real
repeat
reshape
resize
round
searchsorted
setfield
setflags
shape
size
sort
squeeze
std
strides
sum
swapaxes
take
to_device
tobytes
tofile
tolist
tostring
trace
transpose
var
view

------------------------------------------------------------------------------ Refer Class in oops docs----------------------------------------------------------------------------

In [8]:
# Polymorphism in general
# The word "polymorphism" means "many forms", and in programming it refers to methods/functions/operators with the same name that can be executed on many objects or classes.eg: len()
# class polymorphism where due to inheritance we can use the same method name

In [9]:
class Vehicle:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Move!")

class Car(Vehicle):
  pass

class Boat(Vehicle):
  def move(self):
    print("Sail!")

class Plane(Vehicle):
  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747")     #Create a Plane object

for x in (car1, boat1, plane1):
  print(x.brand)
  print(x.model)
  x.move()

Ford
Mustang
Move!
Ibiza
Touring 20
Sail!
Boeing
747
Fly!

In [ ]:
# Iterators
# An iterator is an object that contains a countable number of values.
# An iterator is an object that can be iterated upon, meaning that you can traverse through all the values.
# Technically, in Python, an iterator is an object which implements the iterator protocol, which consist of the methods __iter__() and __next__().

# Iterator vs Iterable
# Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.
# All these objects have a iter() method which is used to get an iterator:

In [5]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [6]:
# Create an Iterator

class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [7]:
# StopIteration

class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration  # To prevent the iteration from going on forever, we can use the StopIteration statement. (eg: to prevent loop if used in for loop)

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
# Scope
# A variable is only available from inside the region(funtion, class) it is created. This is called scope.

In [10]:
# Scope
# A variable is only available from inside the region it is created. This is called scope.

def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

300

In [12]:
# Global Scope
# A variable created in the main body of the Python code is a global variable and belongs to the global scope.
# Global variables are available from within any scope, global and local.

x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [13]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

200
300

In [11]:
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

300
300

In [14]:
# Global Keyword
# If you need to create a global variable, but are stuck in the local scope, you can use the global keyword.
# The global keyword makes the variable global.

def myfunc():
  global x
  x = 300

myfunc()

print(x)

300

In [15]:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

200

In [16]:
# Nonlocal Keyword
# The nonlocal keyword is used to work with variables inside nested functions.
# The nonlocal keyword makes the variable belong to the outer function.

def myfunc1():
  x = "Jane"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2()
  return x

print(myfunc1())

hello

In [ ]:
# Module
# Consider a module to be the same as a code library.
# A file containing a set of functions you want to include in your application.

In [ ]:
# Create a Module
# To create a module just save the code you want in a file with the file extension .py
# Saved as mymodule.py
'''
def greeting(name):
  print("Hello, " + name)

person1 = {
  "name": "John",
  "age": 36,
  "country": "Norway"
}
'''
# Use a Module
# Now we can use the module we just created, by using the import statement
'''
import mymodule

mymodule.greeting("Jonathan")

a = mymodule.person1["age"]
print(a)
'''

In [17]:
# Datetime
# A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

In [ ]:
# Math
# Python has a set of built-in math functions, including an extensive math module, that allows you to perform mathematical tasks on numbers.

In [20]:
x = min(5, 10, 25)
y = max(5, 10, 25)
z = abs(-7.25)         # absolute (positive)
a = pow(4, 3)          # x to the power of y

print(x)
print(y)
print(z)
print(a)

5
25
7.25
64

In [22]:
# Python has also a built-in module called math, which extends the list of mathematical functions.

import math

x = math.sqrt(64)

print(x)

8.0

In [23]:
# math methods

for i in dir(math):
  if not i.startswith("__"):
    print(i)

acos
acosh
asin
asinh
atan
atan2
atanh
cbrt
ceil
comb
copysign
cos
cosh
degrees
dist
e
erf
erfc
exp
exp2
expm1
fabs
factorial
floor
fmod
frexp
fsum
gamma
gcd
hypot
inf
isclose
isfinite
isinf
isnan
isqrt
lcm
ldexp
lgamma
log
log10
log1p
log2
modf
nan
nextafter
perm
pi
pow
prod
radians
remainder
sin
sinh
sqrt
tan
tanh
tau
trunc
ulp

In [32]:
# RegEx
# A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.
# RegEx can be used to check if a string contains the specified search pattern.

import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

In [34]:
# F-Strings
# F-string allows you to format selected parts of a string.

price = 59
txt = f"The price is {price} dollars"
print(txt)
print(f"The price is {price:.2f} dollars")
print(f"The price is {20 * 59} dollars")
print(f"It is very {'Expensive' if price>50 else 'Cheap'}")

def myconverter(x):
  return x * 0.3048

print(f"The plane is flying at a {myconverter(30000)} meter altitude")

The price is 59 dollars
The price is 59.00 dollars
The price is 1180 dollars
It is very Expensive

In [37]:
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I want 3 pieces of item number 567 for 49.00 dollars.
I want 3 pieces of item number 567 for 49.00 dollars.
I have a Ford, it is a Mustang.

In [35]:
a = [i if i]

SyntaxError: expected 'else' after 'if' expression (<ipython-input-35-6af2be9959fe>, line 1)

'ABCD'

In [ ]:
10<<2

40

In [ ]:
#enumerate

https://realpython.com/python-type-checking/

3D computer vision