<a href="https://colab.research.google.com/github/sivavarun309/learnings/blob/main/Python_Learnings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Enironments
-Environments help to manage different spaces for different projects
-If we are working in different project which requires different dependencies or different python version (Liberaries are more stable with the specific version of python)

In [ ]:
Creating the Environments

conda create -p <name> python==3.12   #-p is to create a environment in the same directory and we can specify the version of python we want to install
conda create -n <name> python==3.12   #-n is to create a environment in the main conda directory

It is always recommended to create a environment in the working directory
<name>  is to meniton the environment name

Activating the Environment
-After creating the environment we have to activate it, so that we can install the required packages only for that environment

conda activate <name>/     #<name> is the name of the environment and "/" indicate the inside of the environment folder where the packages need to be installed

Installing packages

pip install <package name>
pip install -r <requirement.txt>

Running code

-Running code of the environment in the notebook requires to select the kernal which will be the environemnt
-Also for running the notebook code in environment we need the ipykernal, to install that

pip install ipykernal

In [ ]:
print("Hello world")

Hello world

In [ ]:
#Variables
greet = "Hello"
number = 12
height = 5.1
isChecked = True

In [ ]:
#Type Check or getting the type
print(type(greet))
print(type(number))
print(type(height))
print(type(isChecked))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
#Type conversion or type casting
print(int(height))  # converting the float height to integer height
print(str(height))  # converting the float to string

#Incompatible conversions
# Char string  -> Integer
# Float String -> Integer

5
5.1

In [ ]:
#Input function
var = input("Enter the Value: ")
print(var)

Enter the Value: test
test

In [ ]:
Operators
- the caracter or symbol which takes input and gives the otput through some operations

In [ ]:
#Arithemetic Operators
+   Addition
-   Subtraction
*   Multiplication
/   Division
%   Modulus(Gives Reminder of the division)
**  Exponential(Power)
//  Floor Division(Gives Qotient)
# Assignment Operators
=    x=5
+=   x=x+5
-=   x=x-5
*=   x=x*5
/=   x=x/5
**=  x=x**5
%=   x=x%5
//=  x=x//5
&=   x=x&5
|=   x=x|5
^=   x=x^5
<<=  x=x<<5
>>=  x=x>>5
:=   print(x:=5)  (i.e., x=5
                         print(x))
#Comparison Operators
==    Equal
!=    Not Equal
>     Greater than
<     Lower than
>=    Greater than or equal to
<=    lower than or equal to
#Logical Operators
and   Returns True if both statements are true	              #x < 5 and  x < 10
or    Returns True if one of the statements is true	          #x < 5 or x < 4
not   Reverse the result, returns False if the result is true	#not(x < 5 and x < 10)
#Identity Operators
is      Returns True if both variables are the same object	    #x is y
is not  Returns True if both variables are not the same object	#x is not y
#Membership Operators
in      Returns True if a sequence with the specified value is present in the object	    #x in y
not in  Returns True if a sequence with the specified value is not present in the object	#x not in y
#Bitwise Operators
&   AND ->  10&5 -> 1010 & 0101 = 0000 -> 0(Decimal)
|   OR  ->  10|5 -> 1010 | 0101 = 1111 -> 15(Decimal)
^   XOR ->  10^7 -> 1010 ^ 0111 = 1101 -> 13(Decimal)
~   1's Complement -> ~1010 = -(1010+1) = -1011 -> -11(Decimal)
<<  Left Shift -> 10<<2 -> 1010<<2 -> 101000 = 40(Decimal)
>>  Right Shift -> 10>>2 -> 1010>>2 -> 10    = 2(Decimal)

In [6]:
print(10&5)
print(10|5)
print(10^7)
print(~10)
print(10<<2)
print(10>>2)

0
15
13
-11
40
2

In [ ]:
print("""Multi Line print statement
      Line 1 .....
      Line 2......""")

Multi Line print statement
      Line 1 .....
      Line 2......

In [5]:
10<<2

40

In [ ]:
https://realpython.com/python-type-checking/

True